<div class="container">
  <div *ngFor='let market of marketsList' class="market">
    <h2 class="marketData">{{market.name}}</h2>
    <mat-chip-list>
        <mat-chip color="silver" selected>{{market.category}}</mat-chip>
    </mat-chip-list>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="amount" #numberStocks>
        </mat-form-field>    
    </form>
    <p>Price: <span class="numberPrice"> {{market.price}}</span></p>
    <button mat-flat-button (click)='buyStocks(numberStocks.value, market)' class="primaryButton">Buy</button>
  </div>
</div>